h1 = environment.name

b Toggles:
ul
  - environment.toggles.each do |toggle|
    li = "#{toggle.status} > #{toggle.key} : #{toggle.name} : #{toggle.type}"

br

= link_to 'Create new toggle', routes.new_project_environment_toggle_path(params[:project_id], params[:id])

